@import 'tailwindcss';
@import '@fontsource/fira-mono';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@plugin "daisyui" {
    themes:
        light,
        dark,
        cupcake,
        bumblebee,
        emerald,
        corporate,
        synthwave,
        retro,
        cyberpunk,
        valentine --default,
        halloween,
        garden,
        forest,
        aqua,
        lofi,
        pastel,
        fantasy,
        wireframe,
        black,
        luxury,
        dracula,
        cmyk,
        autumn,
        business,
        acid,
        lemonade,
        night,
        coffee,
        winter,
        dim,
        nord,
        sunset --prefersdark,
        caramellatte,
        abyss,
        silk;
    root: ':root';
    include:;
    exclude:;
    prefix:;
    logs: true;
}

:root {
    --font-mono: 'Fira Code', monospace;
}

body {
    font-family: var(--font-mono);
}
